# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# コンパイル成果物 (TypeScript の場合)
lib/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Firebase CLIキャッシュ等（まれに出る）
.firebase/